/* nunito-300 - latin */
@font-face {
	font-family: 'Nunito Light';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/nunito-v25-latin-300.woff') format('woff'),
		url('../fonts/nunito-v25-latin-300.woff2') format('woff2');
}
/* nunito-regular - latin */
@font-face {
	font-family: 'Nunito Regular';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/nunito-v25-latin-regular.woff') format('woff'),
		url('../fonts/nunito-v25-latin-regular.woff2') format('woff2');
}
/* nunito-600 - latin */
@font-face {
	font-family: 'Nunito Medium';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/nunito-v25-latin-600.woff') format('woff'),
		url('../fonts/nunito-v25-latin-600.woff2') format('woff2');
}
/* nunito-700 - latin */
@font-face {
	font-family: 'Nunito Semi Bold';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/nunito-v25-latin-700.woff') format('woff'),
		url('../fonts/nunito-v25-latin-700.woff2') format('woff2');
}
/* nunito-800 - latin */
@font-face {
	font-family: 'Nunito Bold';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/nunito-v25-latin-800.woff') format('woff'),
		url('../fonts/nunito-v25-latin-800.woff2') format('woff2');
}
/* nunito-900 - latin */
@font-face {
	font-family: 'Nunito Black';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/nunito-v25-latin-900.woff') format('woff'),
		url('../fonts/nunito-v25-latin-900.woff2') format('woff2');
}
/* nunito-300italic - latin */
@font-face {
	font-family: 'Nunito Light';
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/nunito-v25-latin-300italic.woff') format('woff'),
		url('../fonts/nunito-v25-latin-300italic.woff2') format('woff2');
}
/* nunito-italic - latin */
@font-face {
	font-family: 'Nunito Regular';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/nunito-v25-latin-italic.woff') format('woff'),
		url('../fonts/nunito-v25-latin-italic.woff2') format('woff2');
}
/* nunito-600italic - latin */
@font-face {
	font-family: 'Nunito Medium';
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/nunito-v25-latin-600italic.woff') format('woff'),
		url('../fonts/nunito-v25-latin-600italic.woff2') format('woff2');
}
/* nunito-700italic - latin */
@font-face {
	font-family: 'Nunito Semi Bold';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/nunito-v25-latin-700italic.woff') format('woff'),
		url('../fonts/nunito-v25-latin-700italic.woff2') format('woff2');
}
/* nunito-800italic - latin */
@font-face {
	font-family: 'Nunito Bold';
	font-style: italic;
	font-weight: 800;
	src: url('../fonts/nunito-v25-latin-800italic.woff') format('woff'),
		url('../fonts/nunito-v25-latin-800italic.woff2') format('woff2');
}
/* nunito-900italic - latin */
@font-face {
	font-family: 'Nunito Black';
	font-style: italic;
	font-weight: 900;
	src: url('../fonts/nunito-v25-latin-900italic.woff') format('woff'),
		url('../fonts/nunito-v25-latin-900italic.woff2') format('woff2');
}
