/* VisbyCF-300 */
@font-face {
	font-family: 'VisbyCF Light';
	font-style: normal;
	font-weight: 300;
	src: url('./VisbyCF-Light.woff') format('woff');
}
/* VisbyCF-regular */
@font-face {
	font-family: 'VisbyCF Regular';
	font-style: normal;
	font-weight: 400;
	src: url('./VisbyCF-Regular.woff') format('woff');
}
/* VisbyCF-600 */
@font-face {
	font-family: 'VisbyCF Medium';
	font-style: normal;
	font-weight: 600;
	src: url('./VisbyCF-Medium.woff') format('woff');
}
/* VisbyCF-700 */
@font-face {
	font-family: 'VisbyCF Semi Bold';
	font-style: normal;
	font-weight: 800;
	src: url('./VisbyCF-DemiBold.woff') format('woff');
}
/* VisbyCF-800 */
@font-face {
	font-family: 'VisbyCF Bold';
	font-style: normal;
	font-weight: 800;
	src: url('./VisbyCF-Bold.woff') format('woff');
}
/* VisbyCF-900 */
@font-face {
	font-family: 'VisbyCF ExtraBold';
	font-style: normal;
	font-weight: 900;
	src: url('./VisbyCF-ExtraBold.woff') format('woff');
}
/* VisbyCF-300oblique */
@font-face {
	font-family: 'VisbyCF Light';
	font-style: oblique;
	font-weight: 300;
	src: url('./VisbyCF-LightOblique.woff') format('woff');
}
/* VisbyCF-oblique */
@font-face {
	font-family: 'VisbyCF Regular';
	font-style: oblique;
	font-weight: 400;
	src: url('./VisbyCF-RegularOblique.woff') format('woff');
}
/* VisbyCF-600oblique */
@font-face {
	font-family: 'VisbyCF Medium';
	font-style: oblique;
	font-weight: 600;
	src: url('./VisbyCF-MediumOblique.woff') format('woff');
}
/* VisbyCF-700oblique */
@font-face {
	font-family: 'VisbyCF Semi Bold';
	font-style: oblique;
	font-weight: 700;
	src: url('./VisbyCF-DemiBoldOblique.woff') format('woff');
}
/* VisbyCF-800oblique */
@font-face {
	font-family: 'VisbyCF Bold';
	font-style: oblique;
	font-weight: 800;
	src: url('./VisbyCF-BoldOblique.woff') format('woff');
}
/* VisbyCF-900oblique */
@font-face {
	font-family: 'VisbyCF ExtraBold';
	font-style: oblique;
	font-weight: 900;
	src: url('./VisbyCF-ExtraBoldOblique.woff') format('woff');
}
